.loader-active {
  background: #f9f9f9;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; }

.loader-spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 2px 1px 0px #f83531;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  -moz-animation: spin 0.7s linear infinite;
  -webkit-animation: spin 0.7s linear infinite;
  animation: spin 0.7s linear infinite; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.theme-top-header {
  background-color: #000;
  display: inline-block;
  width: 100%; }
  @media (max-width: 767.99px) {
    .theme-top-header {
      line-height: 40px;
      color: #fff; }
      .theme-top-header .travel-mobile-menu {
        float: right;
        cursor: pointer; }
      .theme-top-header .navbar-collapse {
        display: none; } }
  .theme-top-header .navbar-toggle {
    display: none; }
  .theme-top-header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 40px;
    float: left;
    display: inline-block;
    height: 40px; }
    .theme-top-header ul li:before {
      float: left; }
    .theme-top-header ul.theme-top-left li, .theme-top-header ul.theme-top-left a {
      line-height: 40px;
      height: 40px;
      color: #fff;
      display: block;
      float: left; }
    .theme-top-header ul.theme-top-left li {
      margin-right: 20px; }
      .theme-top-header ul.theme-top-left li a {
        padding-left: 8px;
        font-size: 12px;
        font-family: "Josefin Sans", sans-serif; }
        .theme-top-header ul.theme-top-left li a:hover {
          color: #009688;
          text-decoration: none;
          -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out; }
    .theme-top-header ul.social-menu li {
      display: inline-block;
      position: relative; }
      .theme-top-header ul.social-menu li a {
        font-size: 0;
        width: 30px;
        height: 30px;
        display: inline-block;
        margin: 5px 0;
        text-align: center;
        color: #009688;
        background-color: #fff;
        border-radius: 4px; }
        .theme-top-header ul.social-menu li a:before {
          position: relative;
          border-radius: 4px;
          font: normal normal normal 14px/1 FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        .theme-top-header ul.social-menu li a:hover:before {
          color: #fff;
          text-decoration: none; }
        .theme-top-header ul.social-menu li a[href*="facebook.com"]:before {
          content: '\f09a'; }
        .theme-top-header ul.social-menu li a[href*="facebook.com"]:hover {
          background-color: #3B5998; }
        .theme-top-header ul.social-menu li a[href*="twitter.com"]:before {
          content: '\f099'; }
        .theme-top-header ul.social-menu li a[href*="twitter.com"]:hover {
          background-color: #55ACEE; }
        .theme-top-header ul.social-menu li a[href*="linkedin.com"]:before {
          content: '\f0e1'; }
        .theme-top-header ul.social-menu li a[href*="linkedin.com"]:hover {
          background-color: #007ab5; }
        .theme-top-header ul.social-menu li a[href*="pinterest.com"]:before {
          content: '\f231'; }
        .theme-top-header ul.social-menu li a[href*="pinterest.com"]:hover {
          background-color: #c91921; }
        .theme-top-header ul.social-menu li a[href*="plus.google.com"]:before {
          content: '\f0d5'; }
        .theme-top-header ul.social-menu li a[href*="plus.google.com"]:hover {
          background-color: #dd4937; }
        .theme-top-header ul.social-menu li a[href*="youtube.com"]:before {
          content: '\f167'; }
        .theme-top-header ul.social-menu li a[href*="youtube.com"]:hover {
          background-color: #e22b26; }
        .theme-top-header ul.social-menu li a[href*="rss.com"]:before {
          content: '\f09e'; }
        .theme-top-header ul.social-menu li a[href*="rss.com"]:hover {
          background-color: #f75f0b; }
        .theme-top-header ul.social-menu li a[href*="tumblr.com"]:before {
          content: '\f173'; }
        .theme-top-header ul.social-menu li a[href*="tumblr.com"]:hover {
          background-color: #34465d; }
        .theme-top-header ul.social-menu li a[href*="reddit.com"]:before {
          content: '\f281'; }
        .theme-top-header ul.social-menu li a[href*="reddit.com"]:hover {
          background-color: #FF4500; }
        .theme-top-header ul.social-menu li a[href*="dribbble.com"]:before {
          content: '\f17d'; }
        .theme-top-header ul.social-menu li a[href*="dribbble.com"]:hover {
          background-color: #ea4886; }
        .theme-top-header ul.social-menu li a[href*="digg.com"]:before {
          content: '\f1a6'; }
        .theme-top-header ul.social-menu li a[href*="digg.com"]:hover {
          background-color: #1b5891; }
        .theme-top-header ul.social-menu li a[href*="flickr.com"]:before {
          content: '\f16e'; }
        .theme-top-header ul.social-menu li a[href*="flickr.com"]:hover {
          background-color: #ff0082; }
        .theme-top-header ul.social-menu li a[href*="instagram.com"]:before {
          content: '\f16d'; }
        .theme-top-header ul.social-menu li a[href*="instagram.com"]:hover {
          background-color: #9A6851; }
        .theme-top-header ul.social-menu li a[href*="vimeo.com"]:before {
          content: '\f27d'; }
        .theme-top-header ul.social-menu li a[href*="vimeo.com"]:hover {
          background-color: #17B3E8; }
        .theme-top-header ul.social-menu li a[href*="skype.com"]:before {
          content: '\f17e'; }
        .theme-top-header ul.social-menu li a[href*="skype.com"]:hover {
          background-color: #00a9f1; }
        .theme-top-header ul.social-menu li a[href*="yahoo.com"]:before {
          content: '\f19e '; }
        .theme-top-header ul.social-menu li a[href*="yahoo.com"]:hover {
          background-color: #65106d; }

.header-section {
  position: relative;
  min-height: 60px;
  width: 100%;
  margin-bottom: 3em;
  line-height: 0; }

.site-header {
  min-height: 60px;
  background: #fff;
  width: 100%;
  z-index: 99;
  border-color: #ddd;
  line-height: 0;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out; }
  .site-header .header-main-menu {
    display: inline-block;
    width: 100%; }
  .site-header .site-branding {
    float: left;
    margin-right: 15px; }
    .site-header .site-branding img {
      height: 60px;
      max-width: 100%;
      width: auto; }
    .site-header .site-branding .site-title {
      margin: 0;
      color: #555;
      font-size: 36px;
      font-weight: 600;
      line-height: 1.333; }
    .site-header .site-branding .site-description {
      margin-bottom: 0;
      line-height: 1.333; }
  .site-header #primary-menu {
    margin-top: 0px;
    padding-right: 0px; }
    @media (max-width: 991.99px) and (min-width: 768px) {
      .site-header #primary-menu {
        float: left;
        width: 100%;
        text-align: center;
        line-height: 0; } }
    @media (max-width: 767.99px) {
      .site-header #primary-menu {
        line-height: 76px;
        position: absolute;
        left: 0px;
        width: calc(100% + 30px);
        top: 100%;
        max-height: 320px;
        overflow-y: auto;
        box-shadow: rgba(45, 45, 45, 0.31) 0px 7px 10px 0px;
        background: white;
        margin: 0px -15px;
        border-top: 1px solid #dddddd; }
        .site-header #primary-menu #main-menu-state:not(:checked) ~ #main-menu {
          display: none; }
        .site-header #primary-menu #main-menu-state:checked ~ #main-menu {
          display: inline-block; }
        .site-header #primary-menu.sm li > a {
          line-height: 40px;
          height: 40px;
          width: 100%; }
        .site-header #primary-menu.sm li li > a {
          line-height: 20px;
          height: 30px; } }
    .site-header #primary-menu > li > a {
      line-height: 76px;
      display: inline-block;
      padding-top: 0px;
      padding-bottom: 0px;
      height: 76px;
      font-size: 14px;
      text-transform: uppercase;
      transition: all 0.5s ease-in-out; }
    @media (max-width: 767.99px) {
      .site-header #primary-menu > li .cart-icon {
        text-align: center; }
      .site-header #primary-menu > li .dispaly-search-form {
        display: none; } }
    @media (max-width: 767.99px) {
      .site-header #primary-menu .sm {
        position: absolute;
        left: 0px;
        width: calc(100% + 30px);
        top: 100%;
        max-height: 320px;
        overflow-y: auto;
        box-shadow: rgba(45, 45, 45, 0.31) 0px 7px 10px 0px;
        background: white;
        margin: 0px -15px;
        border-top: 1px solid #dddddd; } }
    @media (max-width: 767.99px) {
      .site-header #primary-menu .sm li > a {
        line-height: 40px;
        height: 40px;
        width: 100%;
        padding-right: 35px; } }
  .site-header .main-navigation {
    float: right; }

#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  margin: -1px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  padding: 0px;
  overflow: hidden; }

.main-menu-btn {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 20px;
  text-indent: 28px;
  white-space: nowrap;
  cursor: pointer;
  top: 3px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow: hidden; }
  .main-menu-btn .main-menu-btn-icon, .main-menu-btn:before, .main-menu-btn:after {
    position: absolute;
    top: 7px;
    left: 0;
    height: 3px;
    width: 18px;
    background: #0a0a0a;
    transition: all 0.25s; }
  .main-menu-btn:before {
    content: "";
    top: 0px;
    left: 0px; }
  .main-menu-btn:after {
    content: "";
    top: 14px;
    left: 0px; }

#main-menu-state:checked ~ .main-menu-btn .main-menu-btn-icon {
  height: 0;
  background: transparent; }
#main-menu-state:checked ~ .main-menu-btn:before {
  top: 6px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }
#main-menu-state:checked ~ .main-menu-btn:after {
  top: 6px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

#main-menu-state {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px); }
  #main-menu-state:not(:checked) ~ #main-menu {
    display: none; }
  #main-menu-state:checked ~ #main-menu {
    display: inline-block; }

@media (min-width: 768px) {
  /* hide the button in desktop view */
  .main-menu-btn {
    position: absolute;
    top: -99999px; }

  /* always show the menu in desktop view */
  #main-menu-state:not(:checked) ~ #main-menu {
    display: inline-block; } }
.sticky {
  min-height: 60px; }
  .sticky .header-wrapper-for-sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    box-shadow: 0 6px 25px 0px rgba(0, 0, 0, 0.29); }
  .sticky .ws-theme-top-header {
    display: none; }
  .sticky .header-main-menu {
    display: inline-block;
    width: 100%; }

.site-footer .widget-area {
  flex: 0 0 100%;
  max-width: 100%; }
.site-footer .card {
  background-color: transparent;
  color: #fff;
  box-shadow: none; }
  .site-footer .card .card-header {
    padding: 1rem 0 0.5rem;
    border-bottom: 1px solid #b7b7b7;
    margin-bottom: 0.5rem; }
  .site-footer .card a {
    color: #e4e4e4; }
    .site-footer .card a:hover, .site-footer .card a:focus, .site-footer .card a:active {
      color: #fff;
      text-decoration: none;
      outline: none; }
  .site-footer .card ul li {
    padding: .5rem 0;
    border-bottom: 1px solid #a5a4a4; }
    .site-footer .card ul li:hover {
      background-color: transparent; }

.below-footer {
  padding: 10px 0;
  background-color: #000;
  color: #fff;
  font-size: 12px; }

/*# sourceMappingURL=theme-style.css.map */
